<div class="row descripcion-personal">
    <div class="img-perfil">
         <img src="../../../assets/img/perfil2.jpeg" alt="" class="img-fluid" id="fotoPerfil">
    </div>
    <!-- <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> -->
         <!-- <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>  -->
     
         <!-- <p>Full Stack Developer Jr</p> -->
    <!-- </div> -->
    <div>
      <span>
         <h1>Acerca de mi</h1>
         <p>Hola! Soy Yazmin Villalba, Tecnica en Desarrollo de Aplicaciones Informaticas. <br>Estudie en la Universidad de Ciencias Exactas 
          de Tandil, provincia de Buenos Aires. <br>Me considero una persona que se adapta con rapidez a los cambios, estoy en constante crecimiento, adquiriendo
          nuevos conocimientos. <br>Me encantaria demostrar mis conocimientos, asi como perfeccionar los ya obtenidos. 
         </p>
      </span>
    </div>
</div>